body {
  font-family: Arial, sans-serif; 
  background-color: #f4f4f4;       
  color: #333;                   
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  }

header {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  obgect-fit: cover;
}

nav.menu {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

section {
  padding: 20px;
  background-color: pink;
  border-radius: 5px;
}

footer {
  text-align: center:
  padding: 20px;
  font-size: 14px:
  color: #666;
  position: relative;
  }

footer.img-footer {
  position: sticky;
  width: 60px;
}
