* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Arial, sans-serif; 
  background-color: white;       
  color: #333;                   
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  }

header {
  display: flex;
  flex-direction: column;
  obgect-fit: cover;
  gap: 20px;
}

.header-infa {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-name {
  font-size: 28px;
}

.header-avatar {
  display: flex;
  width: 100px;
  height: 100px:
  border-radius: 50%;
  object-fit: cover;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.menu-item {
  list-style: none;
  }

.menu-link {
  
}
section {
  padding: 20px;
  background-color: pink;
  border-radius: 5px;
}

footer {
  text-align: center:
  padding: 20px;
  font-size: 14px:
  color: #666;
  position: relative;
  }

footer.img-footer {
  position: sticky;
  width: 60px;
}
